@layer Rixun {
  .rx-input-group {
    position: relative;
  }

  .rx-input {
    display: inline-block;
    padding: 10px;
  }

  .rx-input:focus {
    background-color: #fff;
  }

  .rx-input-label {
    color: #999;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s;
  }

  .rx-input:focus ~ .rx-input-label,
  .rx-input:valid ~ .rx-input-label {
    top: -8px;
    font-size: small;
    background-color: #fff;
    padding: 0 5px;
  }
}
