@layer Rixun {
  .rx-input-group {
    position: relative;
  }

  .rx-input {
    display: inline-block;
  }

  .rx-input-small {
    padding: 4px;
  }
  .rx-input-medium {
    padding: 8px;
  }
  .rx-input-large {
    padding: 12px;
  }

  .rx-input:focus {
    background-color: #fff;
  }

  .rx-input-label {
    color: #999;
    position: absolute;
    pointer-events: none;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
  }

  .rx-input:focus ~ .rx-input-label,
  .rx-input:valid ~ .rx-input-label {
    top: -8px;
    transform: translateY(0);
    font-size: small;
    background-color: #fff;
    padding: 0 4px;
  }
}
