@layer Rixun {
  .rx-only-input-group {
    position: relative;
  }

  .rx-only-input {
    display: inline-block;
  }

  .rx-only-input-small {
    padding: 4px;
  }
  .rx-only-input-medium {
    padding: 8px;
  }
  .rx-only-input-large {
    padding: 12px;
  }

  .rx-only-input:focus {
    background-color: #fff;
  }

  .rx-only-input-label {
    color: #999;
    position: absolute;
    pointer-events: none;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
  }
}
