.rixun-groupbutton {
  cursor: pointer;
}

/* ---- Modern Design CSS below ---- */

.container {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 0.4rem;
  cursor: pointer;
  font-size: 22px;
}

/* Hide default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Custom radio button */
.customRadioBtn {
  position: absolute;
  /* top: 0; */
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .customRadioBtn {
  background-color: #ccc;
}
.container input:checked ~ .customRadioBtn {
  background-color: #2196f3;
}

/* White dot for custom radio button when checked */
.customRadioBtn:after {
  content: '';
  position: absolute;
  display: none;
}
/* Show the custom radio button white dot when checked */
.container input:checked ~ .customRadioBtn:after {
  display: block;
}
/* White dot styling */
.container .customRadioBtn:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
