.footer {
  background-color: #2e2e2e;
  color: #FFF;
}

.container {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

li {
  list-style: none;
}

.col1 {
  background-color:#aaa;
}
.col2 {
  background-color:#bbb;
}
.col3 {
  background-color: #ccc;
}

.nav-link {
  padding-bottom: 100px;
}
.btn-link {
  border:1px solid red;
  margin: 1rem;
}