.rx-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
}
/* .rx-modal-true {
} */
.rx-modal-false {
  width: 0;
  height: 0;
}
.rx-modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}
.rx-modal-true .rx-modal-background {
  opacity: 0.5;
}
.rx-modal-false .rx-modal-background {
  opacity: 0;
}

.rx-modal-opaque {
  z-index: 1;
  width: 500px;
  height: 300px;
  background-color: white;
  margin: 5px;
}

.rx-modal-transparent {
  z-index: 1;
  width: 500px;
  height: 300px;
  background-color: transparent;
  margin: 5px;
}
.rx-modal-none {
  width: 0;
  height: 0;
}

.rx-modal-round {
  border-radius: 0.3em;
}
.rx-modal-square {
  border-radius: none;
}
.rx-modal-circle {
  border-radius: 1000em;
}
