.rixun-footer {
  min-height: 15vh;  
  display: flex;
  align-items: center;
}

.rixun-footer p {
  padding: 0 1rem;
}

.content-positon-left {
  justify-content: left;
}
.content-positon-center {
  justify-content: center;
}
.content-positon-right {
  justify-content: right;
}

.content-layout-vertical {
  flex-direction: column;
}