.rixun-footer {
  min-height: 15vh;  
  display: flex;
  /* align-items: center; */
}

.rixun-item-container {
  border: 1px red solid;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  
}

.rixun-footer a {
  padding: 0 1rem;
}

ul {
  border: 1px green solid;
  padding: 5px;
}

.rixun-item-link-col {
  border: 1px blue solid;
  /* flex-direction: column; */
}
.rixun-item-link-row {
  border: 1px orange solid;
  /* flex-direction: row; */
}

.content-positon-left {
  justify-content: left;
}
.content-positon-center {
  justify-content: center;
}
.content-positon-right {
  justify-content: right;
}

.content-layout-vertical-left {
  flex-direction: column;
  align-items: flex-start;
}
.content-layout-vertical-right {
  flex-direction: column;
  align-items: flex-end;
}